$container-max-width: 1120px;
$container-padding: 20px;


$screen-large: 1600px;
$screen-medium: 1280px;
$screen-tablet: 1024px;
$screen-small: 720px;
$screen-xs: 480px;

$color-text-navy-blue: #212353;
$color-text-gray-green: #4B5D68;
$color-violet: #9C69E2;
$color-pink: #F063B8;

